body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #b30b0b;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.controls {
    margin-bottom: 20px;
}

input[type="file"] {
    margin-top: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

.editor-area {
    border: 2px dashed #ccc;
    display: inline-block; /* Canvas ko fit karne ke liye */
    margin-top: 20px;
}

/* Canvas ka border editor-area se aayega */
canvas {
    vertical-align: top; /* Extra space hatane ke liye */
}

.gallery-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.gallery-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 5px;
}
#addCap {
    background: linear-gradient(to right, #00ff04, #00aaff); 
    border: none;
    color: white;
}

#addCap:hover {
    background: linear-gradient(to right, #13966d, #007bff);
}